extends ../layouts/default

block content
  .about-page
    h1 О компании
    p С 2008 года производственное предприятие «СидАл Техно» занимается разработкой эффективных решений для гомогенизации различных видов топлива. Благодаря тесному сотрудничеству с отечественными и зарубежными учеными мы постоянно работаем над совершенством технологии и получаем результаты, которыми действительно можем гордиться.
    p Производимые компанией гомогенизаторы МЕССКА не только позволяют улучшить потребительские свойства топлива, но и значительно экономить средства, что является их несомненным преимуществом. Наши аппараты уже установлены и успешно функционируют на многих предприятиях в Беларуси, России, Эстонии, Боснии и Герцеговины, США и в других странах.Дело, которому мы посвятили многие годы, каждый день вдохновляет нас на поиск и воплощение новых идей. В 2015 году мы разработали и внедрили новый кавитационный модуль, который позволяет ускорять процесс гомогенизации. Внедрение инновационных технологий и постоянное развитие помогают нам не только улучшать полученные результаты и идти вперед, но вместе с тем гарантировать нашим клиентам высокое качество и стабильный положительный эффект, получаемый благодаря внедрению гомогенизаторов МЕССКА.
    p Будем рады стать Вашим партнером и с удовольствием предложим наиболее выгодные условия для сотрудничества.
