extends ../layouts/default

block content
  .characteristics-page
    nav.cd-side-navigation
      h1  Характеристики
      ul.char-menu
        -var menu = {'kinds':'Основные виды обрабатываемого сырья и применение','advantages':'Преимущества','options':'Параметры','functions':'Назначение, функции'}
        each item,index in menu
          li
            a(href="/#{index}" ) #{item}
    main.cd-main
      section.cd-section.functions.visible
        .wrapper
          header
            section.cd-block
              h2.icon-15 Назначение
              ul.ul-block
                -var rawMaterials = ['• создание однородной (гомогенной) структуры топлива','• устранение расслоения топлива','• сжигание обводненного мазута','• сжигание «лежалого» мазута (15 лет)','• получение мелкодисперсных водо-мазутных эмульсий с содержанием воды до 14%','• разделение, обработка и диспергация нефтешламов','• введение присадок в топливо','• утилизация сивушных масел, подтоварной воды, льяльных вод и других отходов производства.']
                  each material in rawMaterials
                    li #{material}
            section.cd-block
              h2.icon-16 Функции
              ul.ul-block
                -var rawMaterials = ['• Гомогенизация: качественное однородное смешивание топлива','• Кавитация: способствует эмульгированию обычно не смешиваемых компонентов.','• сжигание обводненного мазута','• Диспергация: обработка эмульсии с получением дисперсности от 0,5 мкм (на диспергаторе 2-ого поколения).']
                  each material in rawMaterials
                    li #{material}
