extends ../layouts/default

block content
  .characteristics
    nav.cd-side-navigation
      h1  Характеристики
      ul.char-menu
        -var menu = {'kinds':'Основные виды обрабатываемого сырья и применение','advantages':'Преимущества','options':'Параметры','functions':'Назначение, функции'}
        each item,index in menu
          li
            a(href="/#{index}" ) #{item}
    main.cd-main
      section.cd-section.kinds.visible
          header.header-kinds
           .wrapper
            section.cd-title
              h2 Диспергатор МЕССКА
              p Предназначен для обработки жидкого топлива с целью создания однородной мелкодисперсной  по своей структуре топливной эмульсии, исключающей сгустки и водяные линзы. Установка позволяет увеличить полноту сгорания и экономить мазут, печное топливо от 4 до 11%. Установка также применяется для экономии топлива, снижения затрат на его приобретение, эффективного сжигания, существенного снижения вредных выбросов в атмосферу.
            section.cd-block
              h2.icon-one Основные виды обрабатываемого сырья
              ul
                -var rawMaterials = ['• нефть','• битум','• мазут','• отработанное масло','• жидкое печное топливо','• тяжёлое судовое топливо']
                  each material in rawMaterials
                    li #{material}
            section.cd-block
              h2.icon-two Применение
              ul
                -var rawMaterials = ['• Нефтеперерабатывающие и нефтедобывающие предприятия','• Котельные на жидком печном топливе','• Мазутные котельные','• Речной и морской флот','• Производители топливной эмульсии','• Обработка и утилизация нефтешлама','• Мазутные хранилища','• Обработка и утилизация отработанных масел','• Битумные производства','• Разбивание нефтяных и технических парафинов','• ТЭЦ']
                  each material in rawMaterials
                    li.small #{material}
            //- a(href="#index-content").cd-scroll Scroll Down
    #cd-loading-bar(data-scale="1").index
