extends ../layouts/default

block content
  .characteristics-page
    nav.cd-side-navigation
      h1  Характеристики
      ul.char-menu
        -var menu = {'kinds':'Основные виды обрабатываемого сырья и применение','advantages':'Преимущества','options':'Параметры','functions':'Назначение, функции'}
        each item,index in menu
          li
            a(href="/#{index}" ) #{item}
    main.cd-main
      section.cd-section.advantages.visible
          header.header-service.slide
            h2 Преимущества 
            p Плюсы использования диспергатора на производстве
            a(href="#index-content").cd-scroll Scroll Down
          .cd-content#projects-content.content-service
            .wrapper
              section.cd-title
                h2 Преимущества
              section.cd-block
                h2.icon-3 Надежность
                p.small В отличие от роторных, магнитных и большинства струйных гомогенизаторов, которые имеют в своей конструкции движущиеся элементы и могут выйти из строя из-за сбоя настроек кавитационного эффекта, попадания механических примесей и других объектов, диспергатор работает, используя гидродинамику движущегося потока без подвижных частей внутри.<br/>Гомогенизатор изготавливается из конструкционной легированной стали с последующей закалкой металла.
              section.cd-block
                h2.icon-4 Высокая производительность
                p.small Широкий размерный ряд позволяет обеспечивать обработку топлива от 3 до 120т/час в зависимости от потребностей заказчика.
              section.cd-block
                h2.icon-5 Простота монтажа
                p.small Разрабатываем схему и помогаем определить максимально эффективное место установки диспергатора. Установка 1 - 3 часа.
              section.cd-block
                h2.icon-6 Способ очистки
                p.small Возможность промывки “острым” паром.
              section.cd-block
                h2.icon-7 Многофункциональность
                p.small Гомогенизатор может быть использован для различных видов топлива: мазута, битума, печного топлива.
              section.cd-block
                h2.icon-8 Незасоряемость
                p.small Благодаря внутренней конструкции диспергатор мало подвиргается засорению
              section.cd-block
                h2.icon-9 Небольшой вес
                p.small От 6 до 100 кг
              section.cd-block.last-block
                h2.icon-10 Длительный срок службы
                p.small Срок службы от 10 лет
    #cd-loading-bar(data-scale="1").index
