extends ../layouts/default

block content
    .clients
      h1 Для клиентов
      section.cd-block
        h2.icon1 Параметры, необходимые для подбора оборудования
        p.p-list Для подбора оборудования необходимо предоставить следующую информацию:
        ul
          li • Схему топливного хозяйства с точным указанием производительности рециркуляционных и напорных насосов (производительность и давление)
          li • Минимальные и максимальные показатели суточного потребления топлива
          li • Вид и характеристики топлива
      section.cd-block
        h2.icon2 Разработка схемы установки оборудования
        p На основе имеющихся данных, наши специалисты разработают принципиальную схему установки гомогенизатора с учетом Ваших пожеланий, в том числе с учетом необходимости ввода дополнительной воды, присадок, катализаторов, промывки системы, наличия резервуаров и т.д.
        p Максимально эффективная схема установки устройства сочетает в себе варианты 1 и 2.
        p.margin-top Вариант 1
        p Установка гомогенизатора МЕССКА (диспергатора, кавитатора) на линию рециркуляции для обработки емкости мазута и/или емкости хранения.
        p.p-list Результат:
        ul
          li • высокая степень диспергации, эмульгирования и гомогенизации исходного мазута
          li • экономия топлива на 4-11%.
        p При данном варианте установки гомогенизатор МЕССКА может быть применен для введения в мазут дополнительной воды, нефтеотходов, замазученных вод, отходов спиртового производства, отработанных масел, льяльных вод и т.д.
        p Вариант 2
        p Установка гомогенизатора МЕССКА (диспергатора, кавитатора) для обработки мазута и другого жидкого топлива перед форсунками.
        p.p-list Результат:
        ul
          li • экономия мазута от 4% 
          li • снижение засоряемости форсунок
          li • снижение количества несгоревших частиц
          li • увеличение количества легких фракций в мазуте, которые понижают температуру вспышки
          li • возможность устойчивой работы котла на обводненном мазуте
          li • устранение недожега
          li • снижение температуры подогрева мазута
          li • снижение вязкости
        p Гомогенизация и улучшение свойств мазута увеличивают КПД котла за счет перевода свободной воды в эмульсию и снижают потери на испарение.
      section.cd-block
        h2.icon3 Сроки поставки
        p Мы осуществляем поставку оборудования во все регионы России и другие страны.
        p.p-list Сроки поставки:
        ul
          li • При наличии оборудования на складе от 5 дней
          li • Если на складе нет готового оборудования – время производства составляет 4 недели.
      section.cd-block
        h2.icon4 Установка
        p Установка гомогенизатора (диспергатора) может производиться штатным сотрудником компании Заказчика. В отличие от роторных диспергаторов, установка не является сложным процессом. В комплект поставки входят фланцы, которые привариваются к трубе, после чего устанавливается гомогенизатор.
        p В ходе установки наши специалисты проводят все необходимые консультации.
      section.cd-block
        h2.icon5 Разработка схемы установки оборудования
        p Техобслуживание проводится в течение гарантийного срока (1-2 года) и после него.
        p Сопроводительные документы по эксплуатации оборудования содержат все необходимые рекомендации.
      section.cd-block
        h2.icon6 Стоимость
        p Мы предлагаем привлекательные цены на приобретение гемогенизаторов МЕССКА. Стоимость рассчитывается индивидуально и зависит от нескольких факторов: модели, производительности, объема поставки и др.
      section.cd-block
        h2.icon7 Гарантия
        p Гарантийный срок составляет 1-2 года в зависимости от того, на каком сырье работает оборудование. Доказано, что после окончания гарантийного срока гомогенизатор работает без потери качества еще 5-10 лет. 
      section.cd-block
        h2.icon8 Наши клиенты
        p.p-list Среди наших Клиентов предприятия самых различных сфер деятельности государственной и частной форм собственности:
        ul
          li - ОАО «Брестский ликероводочный завод» (г.Брест, Беларусь)
          li - ОАО «Рогачевский МКК» (г. Буда-Кошелево, Беларусь)
          li - СП ООО «Белрегионгаз» (Беларусь)
          li - Коммунальное унитарное предприятие «Витебский кондитерский комбинат «Витьба» (г. Витебск, Беларусь)
          li - ОАО «Витебский мясокомбинат» (г. Витебск, Беларусь)
          li - ООО «Химиндустрия» (г. Минск, Беларусь)
          li - ООО «Ветеран» (г. Петропавловск-Камчатский, Россия)
          li - ООО «Семеновские пекарни» (г. Самара, Россия)
          li - Центральная котельная (г. Белогорск, Россия)
          li - ОАО «Лесохимик» (г. Борисов, Беларусь)
