extends ../layouts/default

block content
  .contacts-page
    .contacts-wrapper
      .contact-info
        h1 Контакты
        h2.icon1 Телефон: <br/>
          span +375 (29) 651 89 37
        h2.icon2 Email: <br/>
          span A.Sidliarevskiy@yandex.ru
        h2.icon3 Факс <br/>
          span +375 (17) 390 62 63
        p.first Частное производственное предприятие «СидАл-Техно»
      .contact-form
        h1 Обратная связь
        form.contacts-form#contacts-form(method="post" action="/contacts/send")
          input(form="contacts-form" id="name" name="name" type="text" title="Ваше Имя" placeholder="Ваше имя" )
          input(form="contacts-form" id="email" name="email" type="email" title="Ваш Email" placeholder="Ваш Email" )
          input(form="contacts-form" id="number" name="number" type="text" title="Ваш телефон" placeholder="Ваш телефон")
          textarea(form="contacts-form" id="message" name="message" type="text" placeholder="Введите сообщение" )
          button(type="submit") Отправить
