extends ../layouts/default

block content
  .contacts
    .contacts-wrapper
      .contact-info
        h1 Контакты
        h2.icon1 Телефон: <br/>
          span +375 (29) 651 89 37
        h2.icon2 Email: <br/>
          span A.Sidliarevskiy@yandex.ru
        h2.icon3 Факс <br/>
          span +375 (17) 390 62 63
        p.first Частное торгово-производственное унитарное предприятие <br/> «СидАл-Техно» 
        p 220004,г.Минск, ул.Притыцкого, дом № 107, ПТС, ком.1 <br/> УНН: 191425939
        p (BYR) р/с 3012055240009 в ЗАО «Белорусско-Швейцарский Банк <br/> «БелСвиссБанк» г.Минск, пр-т Победителей, 23/3 код 175
      .contact-form
        h1 Обратная связь
        form.contacts-form#contacts-form(method="post" action="/contacts/send")
          input(form="contacts-form" id="name" name="name" type="text" title="Ваше Имя" placeholder="Ваше имя" pattern="[a-zA-Zа-яА-Я ]+")
          input(form="contacts-form" id="email" name="email" type="email" title="Ваш Email" placeholder="Ваш Email" required pattern="^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}$")
          input(form="contacts-form" id="number" name="number" type="text" title="Ваш телефон (только цифры)" placeholder="Ваш телефон" required pattern="[0-9]+")
          textarea(form="contacts-form" id="message" name="message" type="text" placeholder="Введите сообщение" )
          button(type="submit") Отправить
