extends ../layouts/default

block content
  .technology-page
    .technology-wrapper
      section.technology-text
        h1 Технология
        h2 Общее описание технологии Месска
        p Одной из главных задач, с которой сталкиваются предприятия, использующие мазут или печное топливо, является проблема сжигания топлива с излишками воды в котлоагрегатах. Основной причиной этого является не столько сам факт присутствия воды в составе топлива, сколько ее неравномерное распределение по всему объему.
        p Использование струйного гидродинамического диспергатора Месска стало по-настоящему эффективным решением данной проблемы. Благодаря своему устройству и принципу работы гомогенизатор позволяет обрабатывать топливо до однородной структуры с высоким показателем диспергации от 0,5 мкм (на диспергаторе 2-ого поколения).
        p Работа диспергатора Месска основана на струйном, вихревом, гидродинамическом принципе возникновения кавитации. В процессе вихревого разгона (движения) эмульсии, она в строгом порядке попадет в полости повышенного и пониженного давления. Когда водо-топливная смесь попадает в полости повышения давления, жидкость сжимается. Пузырьки под давлением начинают сжиматься и схлопываются. При резком понижении давления, вскипают растворенные в воде газы и закипает сама вода. После крыльчаток-завихрителей, попадая в камеру пониженного давления, при вихревом потоке жидкость обтекает зубчатой формы тела, обеспечивая возникновения дополнительной плёночной кавитации. При этом на каждом этапе происходят процессы дробления, гомогенизации, диспергации, что и способствует созданию качественной однородной по своему составу водо-топливной смеси.
        p В отличие от роторных установок, струйный гомогенизатор не имеет двигающихся деталей и все процессы в нем происходят за счет гидродинамики движущегося потока.
        p Обработка топлива в гомогенизаторе позволяет получить однородное по своей структуре топливо, устранить его расслоение, снизить вязкость и температуру хранения, получить высокую дисперсность, уменьшить вредные выбросы.
        p Стандартно гомогенизаторы устанавливаются с насосами НМШ производства «Ливгидромаш» г. Ливны, Россия.
        p Оборудование может быть применено на производствах различных отраслей, где необходимо качественное смешение и диспергация продукции.
        h2 Пять причин, почему выгодно использовать диспергатор для мазутов:
        p.list 1. Улучшение качества и сроков хранения обработанного топлива.
        p.list 2. Возможность использования «лежалого» топлива.
        p.list 3. Увеличение срока службы котлоагрегатов и напорных насосов.
        p.list 4. Снижение вредных выбросов в атмосферу.
        p.list 5. Экономия топлива до 11%.
        h2 Эффективность работы гомогенизатора на производстве
        p С 2008 года мы осуществляем производство и поставоки гомогенизаторов на котельные мясо-молочных заводов, кондитерских, спиртзаводов, ДРСУ, ТЭЦ, на лакокрасочное производство с целью смешивания компонентов и (основная часть) в коммерческие организации, работающие в сфере торговли нефтепродуктами. Установка гомогенизаторов производилась как на малых котельных и так на котельных с потреблением более 100 т/сутки.
        h2 Результат:
        p.list 1. Высокий уровень гомогенизации и диспергации жидких компонентов и их эмульсий (мазутных эмульсий, СНО, компонентов ЛКП, биодизеля и др.).
        p.list 2. Эффективное сжигание обводненного мазута 5-20%. Достигнута совокупная экономия 4-11%: сокращение эксплуатационных расходов, расходов на обслуживание котельного хозяйства, более полное сжигание эмульсии.
        p.list 3. Резкое увеличение службы насосов как отечественного, так и импортного производства.
        p.list 4. Качественная кавитационная обработка дизельного топлива. Экономия достигнута 
        table
          tr
            td.td-name Параметры
            td.td-style.td-name Показатели
          tr
            td Производительность
            td.td-style 1 - 120 т/час
          tr
            td Дисперстность  эмульсии
            td.td-style от 0,5 мкм
          tr
            td Время стабильности смеси
            td.td-style 6 - 24 мес.
          tr 
            td Наличие регулировок
            td.td-style -
          tr
            td Рабочая температура
            td.td-style от -40 °C
          tr
            td Рабочее давление
            td.td-style 9 - 10 атм
          tr
            td Потеря давления на устройстве
            td.td-style 0,1 - 0,2 атм
          tr
            td Срок эксплуатации
            td.td-style от 5 лет
          tr
            td Срок изготовления
            td.td-style 4 недели
        .up-block#up-block
          img(src="images/tech/up.png" alt="up")
      .technology-imgblock
        -var imgs = ['images/tech/img1.png','images/tech/img2.png','images/tech/img3.png']
          each img in imgs
            img(src="#{img}" alt="img")
