extends ../layouts/default

block content
  div.thank
    //- img(src="images/thank/logo.png" alt="logo")
    p Форма успешно отправлена.
    p Мы свяжемся с Вами в ближайшее время.
    p Спасибо!
    a(href='/') Вернуться на Главную
