.about-page
  margin-left 200px
  padding 20px 40px

  h1
    margin 0
    font-size 30px
    font-weight 100
    margin-bottom 30px

  p
    font-size 16px
    line-height 18px
    margin 0
    padding 0

  +below(780px)
    margin-left 0
    padding 70px 20px

  +below(520px)
    h1
      font-size 18px
    p
      font-size 14px
