.characteristics
  margin-left 200px

.cd-side-navigation
  left 200px

  ul
    list-style-type none
    margin 0
    padding 0

.cd-main
  // .header-kinds
  //   background url('../images/char/slide1/bg.png') no-repeat bottom center
  //   background-size contain

  .header-service
    background url('../images/char/slide2/header.png') no-repeat bottom center
    background-size cover

  .header-projects
    background url('../images/char/slide3/header.png') no-repeat bottom center
    background-size cover

  // .content-service
  //   background url('../images/char/slide2/bg.png') no-repeat bottom center
  //   background-size contain

  // .content-project
  //   background url('../images/char/slide3/bg.png') no-repeat bottom center
  //   background-size contain

  header.slide
    text-align center
    display flex
    flex-direction column
    justify-content center
    h2
      color #fff
      font-size 60px
      line-height 0.3
      font-weight 100
      margin 25px 0
    p
      font-size 18px
      line-height 1
      color #fff

  .cd-title
    h2
      font-size 30px
      line-height 0.533
      font-weight 200
      margin 25px 0 35px
    p
      font-size 15px
      line-height 1.143

  .cd-title.center
      text-align center
      h2
        text-align left
  .cd-block
    h2
      font-size 24px
      line-height 1
      font-weight 200
      // dispaly block
      &:before
        content ''
        display inline-block
        width 50px
        height 50px
        margin-right 40px
        position relative
        top 10px
        background url('../images/char/icons.png') no-repeat center center
    .icon-one
      &:before
        background-position -647px -5px

    .icon-two
      &:before
        background-position -699px -5px

    .icon-3
      &:before
        background-position 5px -5px

    .icon-4
      &:before
        background-position -46px -5px

    .icon-5
      &:before
        background-position -105px -5px

    .icon-6
      &:before
        background-position -161px -5px

    .icon-7
      &:before
        background-position -223px -5px

    .icon-8
      &:before
        background-position -276px -5px

    .icon-9
      &:before
        background-position -329px -5px

    .icon-10
      &:before
        background-position -387px -5px

    .icon-11
      &:before
        background-position -817px -5px

    .icon-12
      &:before
        background-position -595px -5px

    .icon-13
      &:before
        background-position -498px -5px

    .icon-14
      &:before
        background-position -545px -5px

    .icon-15
      &:before
        width 58px
        height 58px
        background-position  -757px -3px

    .icon-16
      &:before
        width 58px
        height 58px
        background-position -442px -5px

    ul
      margin 0
      padding 0

      li
        display inline-block
        width 49%
        font-size 15px
        line-height: 1.125;

    .ul-block
      li
        display block
        // font-size 15px
        width 100%

    p
      font-size 15px
      line-height 1.125

    p.small
      text-align left

    .images
      display flex

  .block-img
    margin-top 30px
    .img-text
      text-align left
      padding-right 60px

  .last-block
    margin-bottom 50px
