.characteristics-page
  margin-left 200px
  +below(1000px)
    .cd-main, .wrapper-ac
      .cd-block
        h2
          line-height 28px
          &:before
            margin-right 10px
        ul
          li
            display block
            width 100%
  +below(780px)
    margin-left 0
    .cd-side-navigation
      display none
    .cd-main
      display none

.cd-side-navigation
  left 200px


  ul
    list-style-type none
    margin 0
    padding 0

.cd-main, .wrapper-ac
  // .header-kinds
  //   background url('../images/char/slide1/bg.png') no-repeat bottom center
  //   background-size contain

  .header-service
    background url('../images/char/slide2/header.png') no-repeat bottom center
    background-size cover

  .header-projects
    background url('../images/char/slide3/header.png') no-repeat bottom center
    background-size cover

  // .content-service
  //   background url('../images/char/slide2/bg.png') no-repeat bottom center
  //   background-size contain

  // .content-project
  //   background url('../images/char/slide3/bg.png') no-repeat bottom center
  //   background-size contain

  header.slide
    text-align center
    display flex
    flex-direction column
    justify-content center
    h2
      color #fff
      font-size 60px
      line-height 0.3
      font-weight 100
      margin 25px 0
    p
      font-size 18px
      line-height 1
      color #fff
    +below(860px)
      h2
        font-size 52px
  .cd-title
    h2
      font-size 30px
      line-height 0.533
      font-weight 200
      margin 25px 0 35px
    p
      font-size 15px
      line-height 1.143
    img
      width 100%

  .cd-title.center
      text-align center
      h2
        text-align left
  .cd-block
    h2
      font-size 24px
      line-height 1
      font-weight 200
      // dispaly block
      &:before
        content ''
        display inline-block
        width 50px
        height 50px
        margin-right 40px
        position relative
        top 10px
        background url('../images/char/icons.png') no-repeat center center
    .icon-one
      &:before
        background-position -647px -5px

    .icon-two
      &:before
        background-position -699px -5px

    .icon-3
      &:before
        background-position 5px -5px

    .icon-4
      &:before
        background-position -46px -5px

    .icon-5
      &:before
        background-position -105px -5px

    .icon-6
      &:before
        background-position -161px -5px

    .icon-7
      &:before
        background-position -223px -5px

    .icon-8
      &:before
        background-position -276px -5px

    .icon-9
      &:before
        background-position -329px -5px

    .icon-10
      &:before
        background-position -387px -5px

    .icon-11
      &:before
        background-position -817px -5px

    .icon-12
      &:before
        background-position -595px -5px

    .icon-13
      &:before
        background-position -498px -5px

    .icon-14
      &:before
        background-position -545px -5px

    .icon-15
      &:before
        width 58px
        height 58px
        background-position  -757px -3px

    .icon-16
      &:before
        width 58px
        height 58px
        background-position -442px -5px

    ul
      margin 0
      padding 0

      li
        display inline-block
        width 49%
        font-size 15px
        line-height: 1.125;

    .ul-block
      li
        display block
        // font-size 15px
        width 100%

    p
      font-size 15px
      line-height 1.125

    p.small
      text-align left

    .images
      display flex
      +below(1082px)
        display block
        .img
          img
            margin 0 auto
            display block


  .block-img
    margin-top 30px
    .img-text
      text-align left
      padding-right 60px
      +below(1082px)
        padding-right 0

  .last-block
    margin-bottom 50px

.mob-version
  display none
  +below(780px)
    display block
    .top
      background-color #000
      h1
        margin 0
        padding 80px 0 30px 30px
        color #fff
        font-size 18px
    .ac-container
      width 100%

    .ac-container label
      padding 10px 55px
      position relative
      z-index 20
      display block
      // height 30px
      margin 0
      cursor pointer
      font-weight 100
      font-size 16px
      color #fff
      line-height 18px
      background #000

    .ac-container label:hover
      background #993333
    .ac-container input:checked + label,
    .ac-container input:checked + label:hover
      background #7c2323
      color #fff

    .ac-container label:before
      content ''
      position absolute
      width 20px
      height 20px
      left 13px
      top 10px
      background url("../images/char/marker.png") no-repeat center center

    .ac-container input:checked + label:before,
    .ac-container input:checked + label:hover:before
      transform rotate(90deg)
      transition transform 0.1s linear

    .ac-container input
      display none

    .ac-container article
      background #fff
      margin-top -1px
      overflow hidden
      max-height 0
      position relative
      z-index 10
      -webkit-transition max-height 0.3s ease-in-out
      -moz-transition max-height 0.3s ease-in-out
      -o-transition max-height 0.3s ease-in-out
      -ms-transition max-height 0.3s ease-in-out
      transition max-height 0.3s ease-in-out

    .ac-container input:checked ~ article
      -webkit-transition: max-height 0.5s ease-in-out
      -moz-transition: max-height 0.5s ease-in-out
      -o-transition: max-height 0.5s ease-in-out
      -ms-transition: max-height 0.5s ease-in-out
      transition: max-height 0.5s ease-in-out

    .ac-container input:checked ~ article.ac-small
      max-height 15000px

    .ac-container article
      .wrapper-ac
        padding-left 20px
        h2
          font-size 18px
        p
          font-size 14px
        .cd-block
          margin-bottom 20px
