.clients
  margin-left 200px
  padding 20px 40px

  h1
    margin 0
    font-size 30px
    font-weight 100

  .cd-block
    h2
      font-size 24px
      line-height 1
      font-weight 200
      margin-top 30px
      // dispaly block
      &:before
        content ''
        display inline-block
        width 50px
        height 50px
        margin-right 40px
        position relative
        top 10px
        background url('../images/client/client-icons.png') no-repeat center center
    .p-list
      margin-bottom 0
    .icon1
      &:before
        background-position -415px -5px

    .icon2
      &:before
        background-position -5px -5px

    .icon3
      &:before
        background-position -63px -5px

    .icon4
      &:before
        background-position -121px -5px

    .icon5
      &:before
        background-position -181px -5px

    .icon6
      &:before
        background-position -239px -5px

    .icon7
      &:before
        background-position -297px -5px

    .icon8
      &:before
        background-position -356px -5px

    p
      font-weight 500
      text-align justify
      line-height 18px
    p.margin-top
      margin-top 40px
    ul
      list-style-type none
      margin 0
      padding 0

      li
        line-height 18px
    // ul
    //   margin 0
    //   padding 0
    //
    //   li
    //     display inline-block
    //     width 49%
    //     font-size 15px
    //     line-height: 1.125;
