.main-page
  // margin-left 200px
  // padding 0 200px
  // background url(../images/main/back.png) no-repeat
  background-color #000
  background-size cover
  color #fff
  position fixed
  height 100%
  width 100%
  display flex
  flex-direction column
  justify-content space-around
  // height 100%
  // left 200px
  .is_overlay
    display block
    width 100%
    height 100%
  #trailer
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    opacity .3
    overflow hidden
    // overflow hidden
    // z-index 1
  #trailer > video
    min-width 100%
    min-height 100%
    width auto
    height auto

  p
    margin 0

  .layer
    position relative
    z-index 100

  header
    font-size 14px
    padding-left 27%
    padding-top 19px

  .main-info
    width 100%
    display flex
    justify-content space-between
    margin-top 110px
    flex-wrap wrap
    // border 1px solid red
  .main-name
    padding-left 27%
    h1
      margin 0
      font-size 36px
      font-weight 100
    .tagline
      font-size 14px
      margin 10px 0
    .technology
      font-size 16px
      margin 30px 0
      width 500px
    .button
      display block
      text-decoration none
      color #fff
      width 220px
      padding 15px 45px
      margin-bottom 45px
      font-size 18px
      background none
      border 1px solid #fff
      overflow hidden
      transition background-color .2s linear
      @keyframes spinAround {
        10%{
          transform translateY(10px)
        }
        50%{
          transform translateY(40px)
          opacity 0
        }
        60%{
          transform translateY(-40px)
        }
        80%{
          opacity 1
        }
        100%{
          transform translateY(0px)
        }
      }
      &:hover
        background-color #fff
        color #000
        p
          animation spinAround .3s linear
    .download
      display flex
      align-items flex-end
      cursor pointer
      margin-left 145px
      width 210px
      .download-icon
        width 30px
        height 30px
        background url(../images/main/download.png)
        margin-right 10px
      a
        color #fff
        text-decoration none
        &:hover
          color #993333
  .main-news
    margin-right 2%
    h2
      margin 0
      font-size 24px
      font-weight 100
    .news-block
      margin-top 10px
      width 240px
      cursor pointer
      .news
        font-size 14px
        color #fff
        text-decoration none
        &:hover
          color #993333
      .date
        font-size 10px
        margin-top 5px
    .archive
      margin-top 20px
      a
        width 124px
        color #fff
        text-decoration none
        border-bottom 1px dashed #fff
        &:hover
          border-bottom none
          color #993333
          cursor pointer
  footer
    padding-left 27%
    margin-top 106px
    display flex
    justify-content space-around
    align-items flex-end
    font-size 12px
    p
      margin-left 36%
    a
      color #fff
      text-decoration none
      margin-left 29%
    img
      margin-left 13px
      &:hover
        opacity 0.5
