.technology
  margin-left 200px

  h1
    margin 0 // make global

.technology-wrapper
  display flex
  align-items stretch

.technology-text
  width 70%
  padding 30px 50px
  font-size 16px
  height 100vh
  h1
    font-size 30px
    font-weight 100
  h2
    font-size 24px
    font-weight 200
    line-height 26px

  p
    font-weight 500
    text-align justify
    line-height 18px

  .list
    margin 2px 0
    text-align left

  table
    font-size 18px
    margin-top 50px
    td
      width 25%
      padding 14px 0
    .td-name
      font-size 24px
      padding 0 0 14px 0
    .td-style
      text-align center
      border-left 1px solid #e79f9f


.technology-imgblock
  // overflow hidden
  // width 30%
  position relative
  height 100%
  img
    width 100%
    display block
    margin 0
    padding 0
